body {
    font-family:Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Body background colors for different weather conditions */
.sunny {
    background-color: #ffdb5c; /* Sunny */
}

.cloudy {
    background-color: #b0c4de; /* Cloudy */
}

.rainy {
    background-color: #5f6368; /* Rainy */
}

.snowy {
    background-color: #f0f8ff; /* Snowy */
}

/* Main Container */
.container {
    width: 40%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #ff69b4;
    font-size: 2em;
    margin-bottom: 20px;
}
/* Weather Form */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: 2px solid #74ebd5;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #5C6BC0;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #3949AB;
}

/* Weather Results */
#weather-result {
    margin-top: 20px;
}

h2 {
    color: #ff69b4;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    color: #333;
}
